<div class="container pt-5 text-center">

  <h1> Seja bem-vindo ao Bankline!</h1>
  <form class="form-signin" #form="ngForm">
    <div class="form-group mt-3">
      <input autocomplete="username" type="text" class="form-control" placeholder="Usuário"
       [(ngModel)] = "usuario" name ="usuario" required
       [class.is-invalid]="exibeErro('usuario',form)" #usuarioInput
       >
       <div class="invalid-feedback">
        Usuário invalido
      </div>
    </div>
    <div class="form-group mt-3">
      <input autocomplete="current-password" type="password" class="form-control" placeholder="Senha"  [(ngModel)] = "senha" name = "senha" required
      [class.is-invalid]="exibeErro('senha',form)" #senhaInput>
      <div class="invalid-feedback">
        Senha invalida
      </div>
    </div>

    <div *ngIf = "erorNoLogin">
      Usuário e ou senha está invalido!
    </div>
    <div *ngIf="estaCarregando">Carregando...</div>
    <button type="submit" class="btn btn-primary mt-3" (click) ="onSubmit(form)">Entrar</button>
  </form>
</div>
